__data
.DS_Store
auto-coder
**/.auto-coder
**/.cache
docker/infini-sql/app
docker/infini-sql/app
docker/infini-sql/app.zip
.idea
datas/AFM_monthly_data_test_data.xlsx
infinisynapse_release
build_release.sh
infinisynapse_release.zip
